project/obj/
*.sln
*.vcxproj
*.filters
*.user
*.opendb
*.suo
*.db
*.idb
*.ilk
*.pdb
project/build/
*.nvuser
Core/obj/
Core/build/
FenixDK/obj/
FenixDK/build/
Tests/build/
Tests/obj/
Samples/UnitTests/build/
Samples/UnitTests/obj/
Samples/Basic/build/
Samples/Basic/obj/
